{
 ;; tasks

 :revolt.task/aot   {:extra-namespaces [clout.core
                                        mount.core
                                        failjure.core
                                        clojure.tools.logging.impl]}

 :revolt.task/info  {:name "edge"
                     :package defunkt.edge
                     :version "0.0.1"
                     :description "Sample project to see revolt in action."}

 :revolt.task/test  {:report :pretty}

 :revolt.task/sass  {:resources ["styles/main.scss"]}

 :revolt.task/codox {:source-paths ["src/clj"]
                     :source-uri "http://github.com/mbuczko/edge/blob/{version}/{filepath}#L{line}"
                     :namespaces [edge.http
                                  edge.middleware]}

 :revolt.task/cljs  {:optimizations :none
                     :builds [{:id "main-ui"
                               :source-paths ["src/cljs"]
                               :compiler {:main "edge.main"
                                          :output-to "scripts/main.js"
                                          :output-dir "scripts/out"
                                          :asset-path "scripts/out"
                                          :preloads [devtools.preload]}}]}

 :revolt.task/capsule {:exclude-paths #{"test" "src/cljs"}
                       :output-jar "dist/edge.jar"
                       :capsule-type :thin
                       :main "edge.main"
                       :min-java-version "1.8.0"
                       :jvm-args "-server"
                       :system-properties "ENV=prod"
                       :caplets {"MavenCapsule" [["Repositories" "central clojars(https://repo.clojars.org/)"]
                                                 ["Allow-Snapshots" "true"]]}}

 ;; plugins

 :revolt.plugin/nrepl {:port 5600}

 :revolt.plugin/rebel {:init-ns "edge.system"
                       :init-banner "\n ***** Welcome to EDGE *****\n\n Usage:  (go)    => runs edge system\n         (reset) => restarts the system\n"}

 :revolt.plugin/watch {:excluded-paths ["src/clj"]
                       :on-change {:revolt.task/sass "glob:assets/styles/*.scss"}}}
