<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="metrics visualized">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>edge - bleeding edge side of life</title>

        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
        <link rel="stylesheet" href="/styles/main.css">
	</head>
	<body>
        <div class="header">
            {% if user %}
            Logged in as: <span class="logged">{{ user.login }}</span> / <a href="/users/me"> about me </a>
            {% else %}
            <a href="/login">Sign in</a> (user: foo, password: pass)
            {% endif %}
        </div>
        <div class="main" id="container">
            <!-- main content goes here -->
        </div>
        <script src="/scripts/main.js"></script>
	</body>
</html>
