@import 'icon';
@import 'success';

body {
  min-width: 640px;
}

.header {
  background: #f3f3f3;
  font-family: monospace;
  font-size: 0.9em;
  padding: 6px 10px;
  border-bottom: 1px solid #ddd;

  .logged {
    font-weight: bold;
  }
}

.intro {
  margin: auto;
  margin-top: 60px;

  h3,p {
    text-align: center;
  }
}
