body {
  min-width: 640px;
}

.header {
  background: #eee;
  font-family: monospace;
  padding: 6px 10px;
  border-bottom: 1px solid #888;
}

.logged {
  font-weight: bold;
}

.intro {
    width: 920px;
    margin: auto;
    margin-top: 120px;
    padding: 20px;

    h1 {
        text-align: center;
    }
    p {
        color: #666;
        text-align: center;
    }
    span {
        color: blue;
    }
}
