@import 'icon';
@import 'success';

body {
  min-width: 640px;
}

.header {
  background: #f3f3f3;
  font-family: monospace;
  font-size: 0.9em;
  padding: 6px 10px;
  border-bottom: 1px solid #ddd;

  .logged {
    font-weight: bold;
  }
}

.intro {
  margin: auto;
  margin-top: 60px;

  h3,p {
    text-align: center;
  }
}

.login-container {
  background-color: #f3f3f3;
  padding: 20px 20px 0;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 1px 1px 10px #bbb;
  position: relative;
  margin: 0 auto;
  width: 420px;
  top: 60px;

  h1 {
    text-align: center;
    color: #666;
  }
  button {
    width: 100%;
  }
}
